<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <hr />
        <div class="footer-item">{{site.email}}</div>
        <div class="footer-item">{{site.phone}}</div>
        <div class="footer-item">{{site.address}}</div>
      </div>
    </div>
  </div>
</footer>
