<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 header-container">
				<div class="header-logo">
					<a href="/"><img src="/assets/img/logo.svg" alt="{{site.title}}"/></a>
				</div>
				<div class="header-nav"></div>
			</div>
		</div>
	</div>
</header>
