<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>
		{{ page.title }}
	</title>
	<meta name="description" content="{{ page.intro }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.intro }}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.url }}/assets/img/logo.png" />
	<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap"
		rel="stylesheet"
	/>
	<link
		rel="apple-touch-icon"
		sizes="180x180"
		href="/assets/favicon/apple-touch-icon.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="32x32"
		href="/assets/favicon/favicon-32x32.png"
	/>
	<link
		rel="icon"
		type="image/png"
		sizes="16x16"
		href="/assets/favicon/favicon-16x16.png"
	/>
	<link rel="manifest" href="/assets/favicon/site.webmanifest" />
	<link
		rel="mask-icon"
		href="/assets/favicon/safari-pinned-tab.svg"
		color="#5bbad5"
	/>
	<meta name="msapplication-TileColor" content="#00aba9" />
	<meta name="theme-color" content="#ffffff" />
	{% include analytics.html %}
</head>
