$color-primary: #384b9d;
$color-secondary: #002c3f;
$color-background: #fcffff;

$font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI,
  Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;

$font-color-heading: #222222;
$font-color-body: #525252;

$font-size-h1: 4rem;
$font-size-h2: 2.1rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.6rem;
$font-size-h6: 1.6rem;

$font-weight-normal: 400;
$font-weight-wide: $font-weight-normal;
$font-weight-bold: 600;
