---
layout: default
---

<section class="section-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<h1>Whoops!</h1>
				<div class="page-content">
					{{ content }}
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<img class="hidden-xs" src="{{ page.image }}" />
			</div>
		</div>
	</div>
</section>
