---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
