---
layout: default
---

<section class="section-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1>{{ page.title }}</h1>
				{% include page-intro.html %}
				<div class="page-content">
					{{ content }}
				</div>
			</div>
			<div class="col-sm-4">
				<img class="hidden-xs" src="{{ page.image }}" />
			</div>
		</div>
	</div>
</section>
